html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#app {
  background-color: #0C7CA2;
  position: relative;
  height: 100%;
}

.content {
  position: absolute;
  height: 100%;
}

.toolbar {
  padding-top: 5px;
  position: relative;
  height: 30px;
  margin-bottom: 10px;

  .setting {
    position: absolute;
    right: 40px;
  }

  .close {
    position: absolute;
    right: 10px;
  }

  .btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  img {
    height: 25px;
  }
}

.speaker {
  padding: 0 20px;
  margin-bottom: 30px;

  img {
    width: 328px;
  }
}

.buttons {
  position: relative;
  height: 340px;
}

// -------------------
.beep-button {
  display: inline-block;
  float: left;
  width: 90px;
  height: 60px;
  text-align: center;
}

span {
  @mixin btn-icon($png) {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url('img/icons/' + $png + '.png');
    background-repeat: no-repeat;
  }
  // sass 中的变量循环
  $icons: applause ba-dum-tsss crowd-laughing money;

  @each $icon in $icons {
    &.#{$icon} {
      @include btn-icon($icon);
    }
  }
}

