html {
  height: 100%;
}

body {
  margin: 0;
}

#app {
  background-color: #0C7CA2;
}

.toolbar {
  height: 30px;
}

.speaker {
  padding: 20px;

  img {
    width: 328px;
  }
}

.buttons {
  height: 340px;
}
